.actions { 
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    height: 2.5rem;
    border-bottom: 2px solid red;
    padding: 20px 0;
}
.links {
    padding: 20px;
    color: black;
    border: none;
    text-decoration: none;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
    background-color: rgb(255,0,212);
    height: 40px;
    border: none;
    color: white;
    width: 230px;
}
.section2 {
    padding: 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: url(./universe.jpg);
    background-blend-mode: multiply;
}
.myimage { 
    width: 300px;
    height: 300px;
    border-radius: 70%;
}
h1 {
    line-height: 1.5;
    color: white
}
p { 
    line-height: 1.5;
    color: white;
}
.sail { 
    width: 400px;
    height: 400px;
    align-items: center;
    margin-top: 35px;
    margin-left: 50px;
}
.info { 
    color: brown    ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 6px;
}
.arrangement { 
    display: flex;
    flex-direction: column;
    align-items: center;
}